<div class="container__content">
    <div class="content__cover">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT36amT2715hYRmdc9w6iYhETecTVGmuQSgLw&usqp=CAU"
            alt="" srcset="">
    </div>
    <div class="content__title">
        <h1>ARTIGO NOVA PAGINA</h1>
        <hr>
    </div>
    <div class="content__description">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum tenetur excepturi nemo hic? Eos vero eius
            reprehenderit minus. Ipsum molestias et mollitia unde molestiae neque doloribus enim assumenda, pariatur
            minus?
        </p>
    </div>
    <div class="button">
        <a href=""><< VOLTAR</a>
    </div>
</div>